<nav class="navigated">
  <div class="block">
    <div class="accordion" id="accordionExample">
      <h2 class="accordion-header m-0" id="heading" routerLink="/">
        <button class="accordion-button collapsed no-icon" type="button" data-bs-toggle="collapse"
                aria-expanded="true" aria-controls="collapseOne">
          <span class="mx-3">Главная</span>
        </button>
      </h2>
      <div *ngFor="let item of menuItem; let i = index" class="accordion-item">
        <h2 class="accordion-header m-0" id="heading{{i}}">
          <button class="accordion-button" [class.collapsed]="item.moduleName !== level1Menu" type="button"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#'+item.moduleName" aria-expanded="true" aria-controls="collapseOne">
            <span class="mx-3">{{item.title}}</span>
          </button>
        </h2>
        <div *ngIf="item.submenu.length !== 0" id="{{item.moduleName}}" class="accordion-collapse collapse"
             [class.show]="item.moduleName === level1Menu"
             aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="sub-item" [class.active]="sub.moduleName === level2Menu"
                 *ngFor="let sub of item.submenu"
                 [routerLink]="sub.path"
                 matTooltip="{{sub.description}}">
              {{sub.title}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
